language: csharp
sudo: true
mono: none
dotnet: 2.2
dist: xenial
branches:
  only:
    - master
install:
  - dotnet tool install --global altcover.visualizer
  - cd TeaUnitTests/ && dotnet add package AltCover && cd ../
script:
  - dotnet test TeaUnitTests /p:AltCover=true
after_success:
  - bash <(curl -s https://codecov.io/bash) -c -F unittest
